name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install dependencies
        run: sudo apt update && sudo apt install -y optipng
      - name: Setup Uv
        uses: astral-sh/setup-uv@v7
      - name: Install project
        run: uv pip install --quiet --system .[doc]
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.4.4
        with:
          source-dir: ./build/html
          branch: gh-pages