name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - run: sudo apt update && sudo apt install -y optipng
      - uses: astral-sh/setup-uv@v7
      - run: uv pip install --quiet --system .[doc]
      - run: make html
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.4.4
        with:
          source-dir: ./build